.App{
    text-align: center;
}

.App-logo{
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preferences) {
    .App-logo{
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background: radial-gradient(circle at 50% 50%, #1a1a3d, #000) fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.App-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 10px 10px;
    animation: move-stars 50s linear infinite;
}

@keyframes move-stars {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-100px, -100px);
    }
}
